.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
}
.modalImage {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}
.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  color: cadetblue;
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 10px;
}
